<div class="container-fluid">
	 <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Gestión Proyectos Macro
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i><a href="#/">Proyectos</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> Proyectos Macro
                </li>
            </ol>
        </div>
    </div>

      <div class="row" ng-show=" ShowTableParams">
            <div class="form-group">
                
                <div class="col-lg-4">
                    <h3>Seleccione el Proyecto Macro</h3>
                    <select class="form-control" ng-model="pm.idProy">
                        <option ng-repeat="pm in ProyMacro" value="{{pm.IDPROYMACRO}}">{{pm.NOMBREPROYMACRO}}</option>
                    </select>
                </div>

                <div class="col-lg-4">
                    <h3>Seleccione el Modulo</h3>
                    <select class="form-control" ng-model="pm.idMod">
                        <option ng-repeat="mo in Modulos" value="{{mo.IDMODULO}}">{{mo.NOMBREMODULO}}</option>
                    </select>
                </div>
               
               <div class="col-lg-3">
                    <h3> &nbsp; </h3>  
                    <button type="button" ng-click="getProyecByProyMacro(pm)" class="btn btn-primary"> Ver proyectos</button>
                </div>
          </div>

    </div></br>


     <!-- /.row -->

    <div class="row" ng-show="ShowTableParams && ShowTablecomplete">

	    <div class="col-lg-12">
	        <h2>Listado de Proyectos</h2>
	        <div class="table-responsive">
	            <div class="dataTable_wrapper">
                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"  class="row-border hover">
                        <thead>
                            <tr>
                                <th>codigo del proyecto</th>
                                <th>Nombre del proyecto</th>
                                <th ng-repeat="pa in Params">{{pa.NOMBREPARAM}}</th>
                                <th>editar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="proy in Proyectos">
                                <td>{{ pro.CODPROYECTO }}</td>
                                <td>{{ pro.NOMBREPROY }}</td>
                                <td ng-repeat="par in pro.param">{{ par | filternull }}</td>
                                <td ng-click="editarValores(pro,$index)"><i class="fa fa-pencil"></i></td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->

	        </div>
	    </div>
	</div>
	 <!-- /.row -->

   <div class="row" ng-show="EditarProyecto && !ShowTablecomplete">
        <div class="form-group">
            <h3>Editar Proyecto</h3></br>
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="col-lg-3">
                      <label class="control-label" >Codigo del Proyecto:</label>
                    </div>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" ng-model='pro.CODPROYECTO' placeholder="Nombre de Proyecto Macro">
                    </div>
                </div>

                <div class="col-lg-10 col-lg-offset-1">
                    <div class="col-lg-3">
                      <label class="control-label" >Nombre del Proyecto:</label>
                    </div>
                    <div class="col-lg-4">
                      <input type="text" class="form-control" ng-model='pro.NOMBREPROY' placeholder="ombre de Proyecto Macro">
                    </div>
                </div>

                <div class="col-lg-10 col-lg-offset-1" ng-repeat="(key, val) in Params">
                    <div class="col-lg-3">
                      <label class="control-label" >{{val.NOMBREPARAM}}:</label>
                    </div>
                    <div class="col-lg-4" ng-show="pro.etiquetas[val.NOMBREPARAM].length==0" >
                        <input type="text" class="form-control"
                            ng-show="pro.etiquetas[val.NOMBREPARAM].length==0" 
                            type="{{val.nombretipodato}}"
                            ng-model='pro[val.NOMBREPARAM]'
                            placeholder="{{val.nombretipodato}}">
                    </div>
                    <div class="col-lg-4" ng-show="!pro.etiquetas[val.NOMBREPARAM].length==0">
                        <select class="form-control"
                            ng-show="!pro.etiquetas[val.NOMBREPARAM].length==0"
                            ng-model='pro[val.NOMBREPARAM]'>
                            <option ng-repeat="opt in pro.etiquetas[val.NOMBREPARAM]"
                                    value="{{opt}}">{{opt}}
                            </option>
                        </select>
                    </div>
                </div>
            </br>

                <div class="form-group"> 
                    <div class="col-sm-offset-2 col-sm-6">
                      <button type="submit" ng-click="editProyecto(pro)" class="btn btn-primary col-sm-3">Guardar</button>
                      <div class="col-sm-2"></div>
                      <button type="button" ng-click="volvertablaproyectos()" class="btn btn-primary col-sm-3">Cancelar</button>
                    </div>
                </div>

                <!--
                Codigo del Proyecto
                <div class="col-md-4 col-md-offset-1">
                    <input class="col-lg-12" ng-model='pro.CODPROYECTO' type="text" placeholder="Nombre de Proyecto Macro">
                </div> 
                <div class="col-md-4 col-md-offset-1">
                    Nombre del Proyecto<input class="col-lg-12" ng-model='pro.NOMBREPROY' type="text" placeholder="Nombre de Proyecto Macro">
                </div> 

                <div class="col-md-4 col-md-offset-1" ng-repeat="(key, val) in Params">
                    {{val.NOMBREPARAM}}

                            <input ng-show="pro.etiquetas[val.NOMBREPARAM].length==0"  type="{{val.nombretipodato}}" class="col-lg-12" ng-model='pro[val.NOMBREPARAM]'  placeholder="{{val.nombretipodato}}">

                            <select ng-show="!pro.etiquetas[val.NOMBREPARAM].length==0"  class="col-lg-12" ng-model='pro[val.NOMBREPARAM]'>
                                <option ng-repeat="opt in pro.etiquetas[val.NOMBREPARAM]" value="{{opt}}">{{opt}}</option>
                            </select>

                </div>

                <div class="col-md-3 col-md-offset-1">
                    <button type="submit" ng-click="editProyecto(pro)" class="col-lg-8 btn btn-primary">Editar</button>
                    <button type="button" class="btn btn-primary" ng-click="volvertablaproyectos()">volver</button>
                </div>-->
        </div>
    </div>

</div>
</br>
<!-- /.container-fluid -->