<div class="container-fluid">
	 <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Gestión de Proyectos 
            </h1>
           
        </div>
    </div>

    <!-- Alertas -->
    <div>
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="{{alert.tiempo}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    </div>
    <!-- /Alertas -->

      <div class="row" ng-show=" ShowTableParams && !NuevoProyecto && !EditarProyecto">
        <div class="form-group">
            <div class="col-lg-4">
                <h3>Seleccione el Proyecto Macro</h3>
                    <select class="form-control" ng-model="pm.idProy" ng-change="getModulosbyproymacro()">
                        <option ng-repeat="pm in ProyMacrobyUser" value="{{pm.IDPROYMACRO}}">{{pm.NOMBREPROYMACRO}}</option>
                    </select>
            </div>
            <div class="col-lg-4">
                    <h3>Seleccione el Modulo</h3>
                    <select class="form-control" ng-model="pm.idMod">
                        <option ng-repeat="mo in Modulos" value="{{mo.IDMODULO}}">{{mo.NOMBREMODULO}}</option>
                    </select>                
            </div>

            <div class="col-lg-3">
                    <h3>&nbsp;</h3>
                    <button type="button" ng-click="getProyecByProyMacro(pm)" class="btn btn-primary">Ver proyectos</button>
            </div>
        </div>

    </div></br>


     <!-- /.row -->

    <div class="row" ng-show="ShowTableParams && ShowTablecomplete">

	        <h2>Listado de Proyectos </h2>
	        
            <div class="table-responsive">
	               
                <h4>Importar Proyectos: </h4>
                <div class=" col-lg-12" ng-show="ShowWrite">
                    <div class="row">
                        <ng-csv-import
                              class="import"
                              content="csv.content"
                              header="csv.header" 
                              header-visible="csv.headerVisible" 
                              separator="csv.separator"
                              separator-visible="csv.separatorVisible"
                              result="csv.result"
                              accept="csv.accept"
                              encoding="csv.encoding"
                              encoding-visible="csv.encodingVisible">
                        </ng-csv-import><button type="button" ng-click="importar()" class="btn btn-primary col-lg-3">Importar Proyectos</button>
                    </div>
                </div>
            </div>
                </br></br>
            <div class="table-responsive">
                <div class="dataTable_wrapper">
                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"  class="row-border hover">
                        <thead>
                            <tr>
                                <th>id del proyecto</th>
                                <th>codigo del proyecto</th>
                                <th>Nombre del proyecto</th>
                                <th ng-repeat="pa in Params">{{pa.NOMBREPARAM}}</th>
                                <th ng-show="ShowWrite"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key , proy) in Proyectos">
                                <td><a href="" title="Editar" ng-click="editarValores(proy,$index) && ShowWrite">{{ proy.IDPROYECTO }}</a></td>
                                <td><a href="" title="Editar" ng-click="editarValores(proy,$index)">{{ proy.CODPROYECTO }}</a></td>
                                <td><a href="" title="Editar" ng-click="editarValores(proy,$index)">{{ proy.NOMBREPROY }}</a></td>
                                <td ng-repeat="pa in Params">{{ proy.param[pa.NOMBREPARAM] | filternull | filterfecha}}</td>
                                <td ng-show="ShowWrite">
                                    <div ><a href="" title="Editar" ng-click="editarValores(proy,$index)"><span class="glyphicon glyphicon-pencil" style="font-size: 20px"></a></div>
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->

	        </div>
        </br></br>
        <div class="table-responsive" ng-show="ShowWrite">
             <div class="col-lg-6 col-lg-offset-1 col-xs-12">
                <button ng-click="agregarProyecto()" class="col-lg-4 btn btn-primary">Agregar Nuevo Proyecto</button>
            </div>
        </div>
	</div>
	 <!-- /.row -->

    <!-- /.row -->
   <div class="row" ng-show="EditarProyecto && !ShowTablecomplete && !NuevoProyecto">
        <div class="form-group">
            <h3>Editar Proyecto</h3></br>
                <div class="col-lg-10 col-md-offset-1">
                    <div class="col-lg-3">
                        <label class="control-label">Codigo del Proyecto</label>
                    </div>
                    <div class="col-lg-4">
                        <input class="form-control" ng-model='pro.CODPROYECTO' type="text" placeholder="Codigo del Proyecto ">
                    </div>
                </div>

                <div class="col-lg-10 col-md-offset-1">
                    <div class="col-lg-3">
                        <label class="control-label">Nombre del Proyecto</label>
                    </div>
                    <div class="col-lg-4">
                        <input class="form-control" ng-model='pro.NOMBREPROY' type="text" placeholder="Nombre del Proyecto ">
                    </div>
                </div>

                <div class="col-lg-10 col-md-offset-1" ng-repeat="(key, val) in Params" ng-show="val.TIPOPMPARAM!='V'">
                    <div class="col-lg-3">
                        <label class="control-label">{{val.NOMBREPARAM}}</label>
                    </div>
                    <div class="col-lg-4" ng-show="pro.etiquetas[val.NOMBREPARAM].length==0">
                        <input class="form-control"
                        type="{{val.IDTIPODATO | filtertipoDato}}"
                        ng-show="pro.etiquetas[val.NOMBREPARAM].length==0"
                        ng-model='pro[val.NOMBREPARAM]'
                        placeholder="{{val.nombretipodato}}">
                    </div>
                    <div class="col-lg-4" ng-show="!pro.etiquetas[val.NOMBREPARAM].length==0">
                        <select class="form-control"
                        ng-show="!pro.etiquetas[val.NOMBREPARAM].length==0"
                        ng-model='pro[val.NOMBREPARAM]'>
                            <option ng-repeat="opt in pro.etiquetas[val.NOMBREPARAM]"
                                    value="{{opt}}">{{opt}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-10 col-lg-offset-1">
                    <div class="col-lg-2 col-xs-12">
                        <button type="submit" ng-click="editProyecto(pro)" class="col-lg-12 col-xs-12 btn btn-primary">Guardar</button>
                    </div>
                    <div class="col-lg-2 col-xs-12">
                       <button class=" col-lg-12 col-xs-12 btn btn-primary" ng-click="volvertablaproyectos()">Volver</button>
                    </div>
                </div>
        </div>
    </div>



</div>
<!-- /.container-fluid -->


<div class="row" ng-show="NuevoProyecto && !ShowTablecomplete && !EditarProyecto">
    <div class="form-group">
            <h3>Nuevo Proyecto</h3></br>
                <div class="col-lg-10 col-md-offset-1">
                    <div class="col-lg-3">
                        <label class="control-label">Codigo del Proyecto</label>
                    </div>
                    <div class="col-lg-4">
                        <input class="form-control" ng-model='pron.CODPROYECTO' type="text" placeholder="Codigo del Proyecto ">
                    </div>
                </div>

                <div class="col-lg-10 col-md-offset-1">
                    <div class="col-lg-3">
                        <label class="control-label">Nombre del Proyecto</label>
                    </div>
                    <div class="col-lg-4">
                        <input class="form-control" ng-model='pron.NOMBREPROY' type="text" placeholder="Nombre del Proyecto ">
                    </div>
                </div>

                <div class="col-lg-10 col-md-offset-1" ng-repeat="(key, val) in Params">
                    <div class="col-lg-3">
                        <label class="control-label">{{val.NOMBREPARAM}}</label>
                    </div>
                    <div class="col-lg-4" ng-show="Etiquetas[val.NOMBREPARAM].length==0">                        
                        <input class="form-control"
                        type="{{val.IDTIPODATO | filtertipoDato}}"
                        ng-show="Etiquetas[val.NOMBREPARAM].length==0"
                        ng-model='pron[val.NOMBREPARAM]'
                        placeholder="{{val.nombretipodato}}">

                    </div>
                    <div class="col-lg-4" ng-show="!Etiquetas[val.NOMBREPARAM].length==0">
                        <select class="form-control"
                        ng-show="!Etiquetas[val.NOMBREPARAM].length==0"
                        ng-model='pron[val.NOMBREPARAM]'>
                            <option ng-repeat="opt in Etiquetas[val.NOMBREPARAM]"
                            value="{{opt}}">{{opt}}</option>
                        </select>
                    </div>
                </div>


                <div class="col-lg-10 col-lg-offset-1">
                    <div class="col-lg-2">
                        <button type="submit" ng-click="guardarProyecto(pron)" class="col-lg-12 col-xs-12 btn btn-primary">Agregar</button>
                    </div>
                    <div class="col-lg-2">
                       <button class="col-lg-12 col-xs-12 btn btn-primary" ng-click="volvertablaproyectos()">Volver</button>
                    </div>
                </div>
        </div>
</div>