<div class="container-fluid">
	 <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Exportar Proyecto
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i><a href="#/">Proyectos</a>
                </li>
                <li class="active">
                    <i class="fa fa-download"></i> Exportar
                </li>
            </ol>
        </div>
    </div>
     <!-- /.row -->

    <div class="row">
	    <div class="col-lg-12">
	        <h2>Exportar Proyecto</h2>
	        <div class="table-responsive">
	            

	        </div>
	    </div>
	</div>
	 <!-- /.row -->

</div>
<!-- /.container-fluid -->