<div class="container-fluid" id="alerta">
     <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Parámetros Proyectos Macro
            </h1>

            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i><a href="#/">Proyectos Macro</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> Parámetros
                </li>
            </ol>
         
        </div>
    </div>
     <!-- /.row -->

     <!-- Alertas -->
    <div>
        <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="{{alert.tiempo}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    </div>
    <!-- /Alertas -->

  <div class="row" ng-show=" ShowTableParams">
        <div class="col-md-12">
        <h3>Seleccione el Proyecto Macro</h3>
              <div class="form-group">
                <div class="col-md-4">
                  <select class="form-control" ng-model="pm.idProy">
                    <option ng-repeat="pm in ProyMacrobyUser" value="{{pm.IDPROYMACRO}}">{{pm.NOMBREPROYMACRO}}</option>
                  </select>
                </div>
                <button type="button" ng-click="formByProyMacro(pm)" class="btn btn-primary col-md-3">Ver Parámetros</button>
              </div>
        </div>
    </div></br>


     <div class="row" ng-show="ShowTableParams && showConsultaByProy && !editParams">
        <div class="col-md-4 ">
            <button ng-click="agregarParam()" class="col-lg-8 btn btn-primary">Agregar Nuevo Parámetro</button>
        </div>
    </div>

    <!-- Lista de Parámetros -->
    <div class="row" ng-show="ShowTableParams && showConsultaByProy && !editParams">
        <div class="col-lg-12">
            <h2>Parámetros de {{NAMEPROYMACRO}} </h2>
            </br>
            <h4>Importar Parámetros: </h4>
            <div class="dataTable_wrapper col-lg-12">
                <div class="row">
                    <ng-csv-import
                          class="import"
                          content="csv.content"
                          header="csv.header" 
                          header-visible="csv.headerVisible" 
                          separator="csv.separator"
                          separator-visible="csv.separatorVisible"
                          result="csv.result"
                          accept="csv.accept"
                          encoding="csv.encoding"
                          encoding-visible="csv.encodingVisible">
                    </ng-csv-import><button type="button" ng-click="importar()" class="btn btn-primary col-lg-3">Importar</button>
                    <button type="button" ng-show="logImportar" ng-click="LogError()" class="btn btn-primary col-lg-2 col-lg-offset-1">Ver Log de Importación</button>
                </div>

                <!-- Log Importación -->
                <div class="form-group" ng-show="LogImp">
                  <hr>
                  <h4>Log de Importación </h4></br>
                      <div class="form-group">
                          <ul>
                            <li ng-repeat="n in logImportar track by $index">{{n}}</li>
                          </ul>
                      </div>
                     <hr>
                </div>
                <!-- /.Log Importación -->

              </br></br>
                <div class="dataTable_wrapper">
                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"  class="row-border hover">
                        <thead>
                            <tr>
                                <th>ID parametro</th>
                                <th>Nombre parametro</th>
                                <th>Modulo</th>
                                <th>Vista modulo</th>
                                <th>Tipo de dato</th>
                                <th>Estado</th>
                                <th>Orden</th>
                                <th>Tabla maestra</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pa in Parametro">
                                <td>{{ pa.IDPARAMETRO }}</td>
                                <td>{{ pa.NOMBREPARAM  }}</td>
                                <td>{{ pa.NOMBREMODULO }}</td>
                                <td>{{ pa.TIPOPMPARAM | filtervisuaprin }}</td>
                                <td>{{ pa.NOMBRETIPODATO }}</td>
                                <td>{{ pa.ESTADOPMPARAMETRO | filterActivo }}</td>
                                <td>{{ pa.ORDEN  }}</td>
                                <td>{{ pa.USAMAESTROPARAM |filterMaestro }}</td>
                                <td>
                                  <a href="" ng-show="pa.ESTADOPMPARAMETRO==1" title="Desactivar" ng-click="cambioEstadoParam(pa.IDPARAMETRO, pa.IDPROYMACRO, 0, $index)"><span class="glyphicon glyphicon-off" style="font-size: 20px"></a>

                                  <a href="" ng-show="pa.ESTADOPMPARAMETRO==0" title="Activar" ng-click="cambioEstadoParam(pa.IDPARAMETRO, pa.IDPROYMACRO, 1, $index)"><span class="glyphicon glyphicon-off" style="font-size: 20px; color:red"></a>

                                  <a href="" title="Editar" ng-click="editarParam(pa,$index)"><span class="glyphicon glyphicon-pencil" style="font-size: 20px"></a>

                                  <a href="" ng-show="pa.USAMAESTROPARAM==1" title="Lista Maestro" ng-click="ShowEtiquetasByParams(pa.IDPARAMETRO, pa.NOMBREPARAM)"><span class="glyphicon glyphicon-th-list" style="font-size: 20px"></a>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->

            </div>
        </div>
    </div>
    <!-- /. Lista de Parámetros -->
     <!-- /.row -->

  <!-- Nuevo Parámetro -->
  <div class="row" ng-show="!ShowTableParams && !ShowEtiquetasByParam && !editParams">
    
    <div class="col-md-12">
      <h3>Agregar Nuevo Parámetro para {{NAMEPROYMACRO}} </h3></br>

      <form id="formParametro" class="form-horizontal" role="form" ng-submit="formNewParam(pa)">

          <div class="form-group">
              <label class="control-label col-lg-2" >Nombre de Parámetro:</label>
              <div class="col-lg-4">
                <input type="text" class="form-control" placeholder="Nombre" ng-model="pa.NOMBREPARAM" required>
              </div>
          </div>

         <div class="form-group">
              <label class="control-label col-lg-2" >Tipo de datos:</label>
              <div class="col-lg-4">
                <select class="form-control" ng-model="pa.IDTIPODATO" required>
                    <option ng-show="seleccionar">seleccionar</option>
                    <option ng-repeat="td in tiposDatos" value="{{td.IDTIPODATO}}">{{td.NOMBRETIPODATO}}</option>
                </select>
              </div>
          </div>
          <div class="form-group">
              <label class="control-label col-lg-2" >Modulo:</label>
              <div class="col-lg-4">
                <select class="form-control"  ng-model="pa.IDMODULO" ng-click="addModulos()" required>
                    <option ng-show="seleccionar">seleccionar</option>
                    <option ng-repeat="mo in Modulos" value="{{mo.IDMODULO}}">{{mo.NOMBREMODULO}}</option>
                </select>
              </div>
          </div>  
          <div class="form-group" ng-show="otrosModulos.length">
              <label class="control-label col-lg-2" >Asignar parámetro a otros modulos:</label>
              <div class="col-lg-offset-3" id="moduloscheckbox" ng-repeat="omo in otrosModulos" >
                    <input type="checkbox" value="{{omo.IDMODULO}}" ng-model="pa.othermodulo[omo.IDMODULO]">   {{omo.NOMBREMODULO}}<br></div>
              
          </div>

         <div class="form-group">
              <label class="control-label col-lg-2" >Tabla Maestra:</label>
              <div class="col-lg-4">
                <select class="form-control"  ng-model="pa.USAMAESTROPARAM" required>
                    <option ng-show="seleccionar">seleccionar</option>
                    <option  value="1">Si usa maestro</option>
                    <option  value="0">No usa maestro</option>
                </select>
              </div>
          </div>

           <div class="form-group">
              <label class="control-label col-lg-2" >Estado:</label>
              <div class="col-lg-4">
                <select class="form-control"  ng-model="pa.ESTADOPARAM" required>
                    <option ng-show="seleccionar">seleccionar</option>
                    <option  value="1">Activo</option>
                    <option  value="0">Inactivo</option>
                </select>
              </div>
          </div>

          <div class="form-group">
              <label class="control-label col-lg-2">Orden:</label>
              <div class="col-lg-1">
                <input type="number" string-to-number class="form-control" ng-model="pa.ORDEN" required>
              </div>
          </div>

          <div class="form-group"> 
              <div class="col-lg-offset-2 col-lg-6">
                <button type="submit" class="btn btn-primary col-lg-4">Guardar Parámetro</button>
                <div class="col-lg-2"></div>
                <button type="button" ng-click="volverParametro()" class="btn btn-primary col-lg-4">Cancelar</button>
              </div>
          </div>
      </form>
    </div>
  </div>
  <!-- /.Nuevo Parámetro -->

  <!-- Editar Parámetro -->
  <div class="row" ng-show="!ShowTableParams && !ShowEtiquetasByParam && editParams">
    
    <h3>Editar Parámetro del Proyecto Macro {{NAMEPROYMACRO}}: </h3></br>

    <form id="formEParametro" class="form-horizontal" role="form" ng-submit="formEditParam(ParamSelect)">

        <div class="form-group">
            <label class="control-label col-lg-2" >Nombre de Parámetro:</label>
            <div class="col-lg-4">
              <input type="text" class="form-control" placeholder="Nombre" ng-model="ParamSelect.NOMBREPARAM">
            </div>
        </div>

       <div class="form-group">
            <label class="control-label col-lg-2" >Tipo de datos:</label>
            <div class="col-lg-4">
              <select class="form-control"  ng-model="ParamSelect.IDTIPODATO" required>
                  <option value="">- seleccionar -</option>
                  <option ng-repeat="td in tiposDatos" value="{{td.IDTIPODATO}}">{{td.NOMBRETIPODATO}}</option>
              </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2" >Modulo:</label>
            <div class="col-lg-4"> {{ParamSelect.IDMODULO}}
              <select class="form-control" ng-model="ParamSelect.IDMODULO" required>
                  <option value="">- seleccionar -</option>
                  <option ng-repeat="mo in Modulos" value={{mo.IDMODULO}}>{{mo.NOMBREMODULO}}</option>
              </select>
            </div>
        </div>  

       <div class="form-group">
            <label class="control-label col-lg-2" >Tabla Maestra:</label>
            <div class="col-lg-4">
              <select class="form-control"  ng-model="ParamSelect.USAMAESTROPARAM" required>
                  <option value="">- seleccionar -</option>
                  <option  value="1">Si usa maestro</option>
                  <option  value="0">No usa maestro</option>
              </select>
            </div>
        </div>

         <div class="form-group">
            <label class="control-label col-lg-2" >Estado:</label>
            <div class="col-lg-4">
              <select class="form-control"  ng-model="ParamSelect.ESTADOPMPARAMETRO" required>
                  <option value="">- seleccionar -</option>
                  <option  value="1">Activo</option>
                  <option  value="0">Inactivo</option>
              </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-2" >Orden:</label>
            <div class="col-lg-2">
              <input type="number"  string-to-number class="form-control" ng-model="ParamSelect.ORDEN">
            </div>
        </div>

        <div class="form-group"> 
            <div class="col-lg-offset-2 col-lg-6">
              <button type="submit" class="btn btn-primary col-lg-4">Guardar Parámetro</button>
              <div class="col-lg-2"></div>
              <button type="button" ng-click="volverParametro()" class="btn btn-primary col-lg-4">Cancelar</button>
            </div>
        </div>
    </form>

  </div>
  <!-- /.Editar Parámetro -->


 <!-- Tabla maestra -->
  <div class="row" ng-show="ShowEtiquetasByParam && !ShowTableParams">
  </br>
      <h3>Gestion de Etiquetas para  {{NAMEParametro}} </h3>
       <div class="table-responsive">
                <div class="dataTable_wrapper col-md-8 col-md-offset-2 col-xs-12 col-lg-8 col-lg-offset-2">
                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"  class="row-border hover">
                        <thead>
                            <tr>
                                <th>ID Tabla Maestra</th>
                                <th>Etiqueta</th>
                                <th>Eliminar</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="etp in EtiquetasbyParam">
                                <td>{{ etp.IDMAESTRO }}</td>
                                <td>{{ etp.ETIQUETA  }}</td>
                                <td>
                                  <a href="" title="Desactivar" ng-click="deleteEtiqueta( etp.IDMAESTRO , $index )"><span class="glyphicon glyphicon-trash" style="font-size: 20px"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->

            </div>


     <div class="row">
        <div class="col-lg-12">
            <h3>Nueva Etiqueta</h3></br>
            <form id="formParametro" ng-submit="formNewet(et)">
                <div class="col-md-4 col-md-offset-1">
                    <input id="inputEtiqueta" class="form-control col-md-12 col-xs-12" ng-model='et.ETIQUETA' type="text" placeholder="Nombre de Nueva Etiqueta" required>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <button type="submit" class="col-md-3 col-xs-5 btn btn-primary">Agregar</button>
                    <button type="button" ng-click="volverParametro()" class="btn btn-primary col-md-3 col-xs-5 col-md-offset-1 col-xs-offset-1">Volver</button>
                </div>
            </form>
        </div>
    </div>

  </div>

  <!-- /.Tabla maestra -->


</div>
<!-- /.container-fluid -->