<div class="container-fluid">
     <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Gestión Parametros
            </h1>
         
        </div>
    </div>
     <!-- /.row -->
  <div class="row" ng-show=" ShowTableParams">
        <div class="col-md-12 ">
        <h3>Seleccione el Proyecto Macro</h3>
            <form ng-submit="formByProyMacro(pm)">
                <select ng-model="pm.idProy">
                    <option ng-repeat="pm in ProyMacro" value="{{pm.IDPROYMACRO}}">{{pm.NOMBREPROYMACRO}}</option>
                </select>
                <button type="submit" class="btn btn-primary">Ver Parametros</button>
            </form>
        </div>
    </div></br>


     <div class="row" ng-show="ShowTableParams && showConsultaByProy">
        <div class="col-md-4 ">
            <button ng-click="agregarParam()" class="col-lg-8 btn btn-primary">Agregar Nuevo Parametro</button>
        </div>
    </div>


    <div class="row" ng-show="ShowTableParams && showConsultaByProy">
        <div class="col-lg-12">
            <h2>Parametros de {{NAMEPROYMACRO}} </h2>
            </br>
            <h4>Importar Parámetros: </h4>
            <div class="dataTable_wrapper">
                <div class="row">
                    <ng-csv-import
                          class="import"
                          content="csv.content"
                          header="csv.header" 
                          header-visible="csv.headerVisible" 
                          separator="csv.separator"
                          separator-visible="csv.separatorVisible"
                          result="csv.result"
                          accept="csv.accept"
                          encoding="csv.encoding"
                          encoding-visible="csv.encodingVisible">
                    </ng-csv-import><button type="button" ng-click="importar()" class="btn btn-primary">Importar</button>
                </div>

              </br></br>
                <div class="dataTable_wrapper">
                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"  class="row-border hover">
                        <thead>
                            <tr>
                                <th>ID Parámetro</th>
                                <th>Nombre Parámetro</th>
                                <th>Módulo</th>
                                <th>Tipo de dato</th>
                                <th>Estado</th>
                                <th>orden</th>
                                <th>tabla maestra</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pa in Parametro">
                                <td>{{ pa.IDPARAMETRO }}</td>
                                <td>{{ pa.NOMBREPARAM  }}</td>
                                <td>{{ pa.NOMBREMODULO }}</td>
                                <td>{{ pa.NOMBRETIPODATO }}</td>
                                <td>{{ pa.ESTADOPARAM | filterActivo }}</td>
                                <td>{{ pa.ORDEN  }}</td>
                                <td>{{ pa.USAMAESTROPARAM |filterMaestro }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->

            </div>
        </div>
    </div>
     <!-- /.row -->

<div class="row" ng-hide="ShowTableParams">
<div class=" col-sm-2">
              <button ng-click="volverParametro()" class="btn btn-primary">Cancelar</button>
            </div></br>
    <h3>Agregar Nuevo Parametro para {{NAMEPROYMACRO}} </h3></br>

    <form id="formParametro" class="form-horizontal" role="form" ng-submit="formNewParam(pa)">

        <div class="form-group">
            <label class="control-label col-sm-2" >Nombre de Parametro:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Nombre" ng-model="pa.NOMBREPARAM">
            </div>
        </div>

       <div class="form-group">
            <label class="control-label col-sm-2" >Tipo de datos:</label>
            <div class="col-sm-10">
              <select class="form-control"  ng-model="pa.IDTIPODATO">
              <option ng-show="seleccionar">seleccionar</option>
                  <option ng-repeat="td in tiposDatos" value="{{td.IDTIPODATO}}">{{td.NOMBRETIPODATO}}</option>
              </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" >Modulo:</label>
            <div class="col-sm-10">
              <select class="form-control"  ng-model="pa.IDMODULO">
              <option ng-show="seleccionar">seleccionar</option>
                  <option ng-repeat="mo in Modulos" value="{{mo.IDMODULO}}">{{mo.NOMBREMODULO}}</option>
              </select>
            </div>
        </div>  

       <div class="form-group">
            <label class="control-label col-sm-2" >Tabla Maestra:</label>
            <div class="col-sm-10">
              <select class="form-control"  ng-model="pa.USAMAESTROPARAM">
              <option ng-show="seleccionar">seleccionar</option>
                  <option  value="1">Si usa maestro</option>
                  <option  value="0">No usa maestro</option>
              </select>
            </div>
        </div>

         <div class="form-group">
            <label class="control-label col-sm-2" >Estado:</label>
            <div class="col-sm-10">
              <select class="form-control"  ng-model="pa.ESTADOPARAM">
              <option ng-show="seleccionar">seleccionar</option>
                  <option  value="1">Activo</option>
                  <option  value="0">Inactivo</option>
              </select>
            </div>
        </div>

        <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-2">
              <button type="submit" class="btn btn-primary">Guardar Parametro</button>
            </div>
            
        </div>
    </form>

</div>
 



</div>
<!-- /.container-fluid -->