<div class="container-fluid">
     <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Gestión Parametros
            </h1>
         
        </div>
    </div>
     <!-- /.row -->
  <div class="row">
        <div class="col-md-12 ">
        <h3>Seleccione el Proyecto Macro</h3>
            <form ng-submit="formByProyMacro(pm)">
                <select ng-model="pm.idProy">
                    <option ng-repeat="pm in ProyMacro" value="{{pm.IDPROYMACRO}}">{{pm.NOMBREPROYMACRO}}</option>
                </select>
                <button type="submit" class="btn btn-primary">Ver Parametros</button>
            </form>
        </div>
    </div></br>


     <div class="row" ng-show="ShowTableParams">
        <div class="col-md-4 ">
            <button ng-click="agregarParam()" class="col-lg-8 btn btn-primary">Agregar Nuevo Parametro</button>
        </div>
    </div>


    <div class="row" ng-show="ShowTableParams">
        <div class="col-lg-12">
            <h2>Parametros </h2>
            <div class="table-responsive">
                <div class="dataTable_wrapper">
                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"  class="row-border hover">
                        <thead>
                            <tr>
                                <th>ID Parámetro</th>
                                <th>Tipo dato</th>
                                <th>Nombre Parámetro</th>
                                <th>USAMAESTROPARAM</th>
                                <th>ESTADOPARAM</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pa in Parametro">
                                <td>{{ pa.IDPARAMETRO }}</td>
                                <td>{{ pa.IDTIPODATO }}</td>
                                <td>{{ pa.NOMBREPARAM  }}</td>
                                <td>{{ pa.USAMAESTROPARAM  }}</td>
                                <td>{{ pa.ESTADOPARAM  }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->

            </div>
        </div>
    </div>
     <!-- /.row -->

<div class="row" ng-hide="ShowTableParams">
    <h3>Agregar Nuevo Parametro</h3></br>

    <form id="formParametro" class="form-horizontal" role="form" ng-submit="formNewParam(pa)">

        <div class="form-group">
            <label class="control-label col-sm-2" >Nombre de Parametro:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Nombre" ng-model="pa.NOMBREPARAM">
            </div>
        </div>

       <div class="form-group">
            <label class="control-label col-sm-2" >Tipo de datos:</label>
            <div class="col-sm-10">
              <select class="form-control"  ng-model="pa.IDTIPODATO">
                  <option ng-repeat="td in tiposDatos" value="{{td.IDTIPODATO}}">{{td.NOMBRETIPODATO}}</option>
              </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" >Modulo:</label>
            <div class="col-sm-10">
              <select class="form-control"  ng-model="pa.IDMODULO">
                  <option ng-repeat="mo in Modulos" value="{{mo.IDMODULO}}">{{mo.NOMBREMODULO}}</option>
              </select>
            </div>
        </div>  

       <div class="form-group">
            <label class="control-label col-sm-2" >Tabla Maestra:</label>
            <div class="col-sm-10">
              <select class="form-control"  ng-model="pa.USAMAESTROPARAM">
                  <option  value="1">Si usa maestro</option>
                  <option  value="0">No usa maestro</option>
              </select>
            </div>
        </div>

         <div class="form-group">
            <label class="control-label col-sm-2" >Estado:</label>
            <div class="col-sm-10">
              <select class="form-control"  ng-model="pa.ESTADOPARAM">
                  <option  value="1">Activo</option>
                  <option  value="0">Inactivo</option>
              </select>
            </div>
        </div>

        <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-2">
              <button type="submit" class="btn btn-primary">Guardar Parametro</button>
            </div>
            
        </div>
    </form>
<div class="col-sm-offset-2 col-sm-2">
              <button ng-click="volverParametro()" class="btn btn-primary">Cancelar</button>
            </div>
</div>
 



</div>
<!-- /.container-fluid -->