
<div class="container-fluid">
	 <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Gestión de Tablas Maestras
            </h1>
            
        </div>
    </div>
     <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>ID Maestro</th>
                            <th>Etiqueta</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="n in etiquetas">
                            <td >{{n.IDMAESTRO}}</td>
                            <td >{{n.ETIQUETA}}</td>
                            <!--<td><a href="#editar_usuario/{{n.username}}"><i tittle="Editar" class="small mdi-content-create"></i></a><a href="#usuarios" ng-click="delEtiqueta(n.username, $index)"><i tittle="Eliminar" class="small mdi-action-delete"></i></a></td>-->
                        </tr>
                      
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#dataTables-example').DataTable({
                    responsive: true
            });
        });
        </script>


    <div class="row">
        <div class="col-lg-12">
            <h3>Nueva Etiqueta</h3></br>
            <form ng-submit="formNewEtiqueta(et)">
                <div class="col-md-4 col-md-offset-1">
                    <input class="col-lg-12" ng-model='et.etiqueta' type="text" placeholder="Etiqueta">
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <button type="submit" class="col-lg-8 btn btn-primary">Agregar</button>
                </div>
            </form>
        </div>
    </div>
  <label>Which columns should we export?</label>
  <select ng-model="export_column_type"</select>
    <option value='all'>All</option>
    <option value='visible'>Visible</option>
  </select>
  <label>Which rows should we export?</label>
  <select ng-model="export_row_type"</select>
    <option value='all'>All</option>
    <option value='visible'>Visible</option>
    <option value='selected'>Selected</option>
  </select>
  <label>What format would you like?</label>
  <select ng-model="export_format"</select>
    <option value='csv'>CSV</option>
    <option value='pdf'>PDF</option>
  </select>
  <button ng-click="export()">Export</button>
  <div class="custom-csv-link-location">
    <label>Your CSV will show below:</label>
    <span class="ui-grid-exporter-csv-link">&nbsp</span>
  </div>
  
  <div ui-grid="gridOptions" ui-grid-selection ui-grid-exporter ui-grid-move-columns class="grid"></div>

</div>
